
<div class="row mx-3">
   <div class="col-md-2 px-0">
      <app-menu></app-menu>
   </div>

   <div class="col-md-10">
     <div class="row">
         <app-header></app-header>
     </div>
     <div class="row">
      <div class="col-md-4">
        <app-first-column></app-first-column>
      </div>
      <div class="col-md-8">
        <app-total-balance></app-total-balance>
        <app-statistics-graph></app-statistics-graph>
        <app-transaction-history></app-transaction-history>
      </div>
     </div>
   </div>
</div>
<router-outlet></router-outlet>
