    <div class="py-3 my-2" style="background-color: white; border-radius: 22px;">
        <div class="px-4" style="display: flex; justify-content: space-between;">
            <div>
                <span style="font-weight: 800;">Overview</span>
            </div>
            <div class="fontSearch">
                <input type="text" placeholder="&nbsp; &nbsp; &nbsp;Search anything here ..." style="background-color: #f5f5f5;">
                <i class="fa fa-search" aria-hidden="true"></i>
            </div>
            <div>
                <i class="fa fa-solid fa-star"></i>
                <i class="fa fa-solid fa-star"></i>
            </div>
        </div>
    </div>
