<div class="custom-menu">
 <div class="py-3 custom-border">
       <div class="pb-3 custom-display">
          <div>
            <i class="fa fa-solid fa-star custom-padding"></i>
            <span class="custom-wght">Hexa Bank</span>
          </div>
          <div><i class="fa fa-solid fa-star"></i></div>
       </div>
    
       <div class="pt-3 custom-display">
        <div>
            <i class="fa fa-solid fa-star custom-padding"></i>
            <span class="custom-name">Akmal Nasrulloh</span>
        </div>
        <div><i class="fa fa-solid fa-star"></i></div>
       </div>
 </div>
 
 <div class="py-3 custom-border">
    <div class="pb-2">
        <span class="menu-text">MENU</span>
    </div>
    <div>
       <div class="py-1 menu-item-main">
         <i class="fa fa-solid fa-star px-2"></i>
         <span class="menu-text-in">Overview</span>
       </div>
       <div class="py-1 menu-item">
        <i class="fa fa-solid fa-star px-2 menu-icon"></i>
        <span class="menu-text-in">Transactions</span>
      </div>
      <div class="py-1 menu-item">
        <i class="fa fa-solid fa-star px-2 menu-icon"></i>
        <span class="menu-text-in">Analytics</span>
      </div>
      <div class="py-1 menu-item">
        <i class="fa fa-solid fa-star px-2 menu-icon"></i>
        <span class="menu-text-in">Cards</span>
      </div>
    </div>
</div>

<div class="py-3" style="border-bottom: 2px solid #ececec;">
    <div class="pb-2">
        <span class="menu-text">GENERAL</span>
    </div>
    <div>
       <div class="py-1 menu-item">
         <i class="fa fa-solid fa-star px-2 menu-icon"></i>
         <span class="menu-text-in">Settings</span>
       </div>
       <div class="py-1 menu-item">
        <i class="fa fa-solid fa-star px-2 menu-icon"></i>
        <span class="menu-text-in">Help/Support</span>
      </div>
      <div class="py-1 menu-item">
        <i class="fa fa-solid fa-star px-2 menu-icon"></i>
        <span class="menu-text-in">Dark Mode</span>
      </div>
    </div>
</div>

<div class="py-3" style="border-bottom: 2px solid #ececec;">
    <div class="py-5 px-5" style="border: 2px dotted grey; border-radius: 10px; text-align: center;">
        <div>
            <i class="fa fa-solid fa-star px-2"></i>
            <div style="font-weight: 800; font-size: 10px;">New Payment</div>
        </div>
    </div>
</div>
</div>
